/* ==UserStyle==
@name           Buscalibre
@namespace      github.com/openstyles/stylus
@version        1.0.4
@description    Buscalibre oscuro y sin manipulación sicológica
@author         HateCodin
==/UserStyle== */
@-moz-document domain("buscalibre.cl"),domain("buscalibre.us"),domain("buscalibre.com"),domain("buscalibre.com.ar"),domain("buscalibre.com.co"),domain("buscalibre.es"),domain("buscalibre.com.mx"),domain("buscalibre.pe"),domain("buscalibre.co") {
    body, 
    .productosLista .productoLista,
    #teTraemosUSA .tiendas > div
    {
        background-color: var(--bg-0);
    }
    .precio-antes.color-dark-gray,
    .precioAntes 
    {
        visibility: hidden !important;
    }
    #categoriasdeployed span
    {
        color: var(--fg-0);
    }
    .avisoTop 
    {
        background: #a53c23;
    }
    .inferior .contenedor,
    header.principal > section.inferior 
    {
        background-color: var(--bg-5);
    }
    h1,h2,h3,h4,h5,h6, /* encabezados */
    h4.deal,
    div.nombre
    {
        color: var(--fg-0) !important;
    }
    header.principal > section.inferior section.contenedor #iniciarSesion > a >      p.texto {
    color: var(--fg-0);
}
    header.principal > section.inferior section.contenedor #cart_button > a {

    color: var(--fg-0);
}
    header.principal > section.inferior section.contenedor .listaDeDeseos > a > p {
    color: var(--fg-0);

}
    .v2018 .stars
    {
	background-image: url(https://gitlab.com/HateCodin/buscalibre-dark/-/raw/main/img/20180914-1600sprite-estrellas.png);
    }
    .v2018 .productos .producto a .autor
    {
        color: var(--fg-1) !important;
    }
    .bestsellersPortada.v2018 .productosLista .productoLista.testgrillameta a div.field {
        color: var(--fg-0);
    }
    .v2018 .productoLista.testgrillameta a div.title {
        color: var(--fg-0);
    }
    .bestsellersPortada.v2018 .productoLista.testgrillameta a .precioAhora {
        color: var(--fg-0)!important;
    }
    .precio-ahora {
        color: var(--fg-0);
    }
    div.descuento-percent
    {
        visibility: hidden;
    }
    .productosLista .productoLista a .mesLibroSINIVA.sinvasoforeber {
        visibility: hidden;
    }
    #teTraemosUSA .tiendas>div a p
    {
        color: #f0ff00;
    }
    footer .formasDePago {
        background-color: gray
    }
    footer section.arriba
    {
        background-color: #575757;
    }
    footer section.abajo {
        background: #363636;
    }
    footer section.abajo section.contenedor address {
        background-color: #3b3a3a;
    }
    #filtros .box-list ul li a, #filtros .box-list ul li ul li a {
        color: var(--fg-0);
    }
    .color-text,
    .font-color-text,
    html,
    section#producto.v2018 p.precioAhora {
        color: var(--fg-0);
    }

    div.box-dcto,               /* esconde marcador de descuento en galeria */
    div.box-descuento,          /* esconde marcador de descuento en pag. de libro */
    div.box-descuento-arrow,    /* esconde la flecha del elemento anterior */
    p.descuento                 /* esconde "precio ahorrado" en pag. de libro */
    {
        visibility: hidden;
    }
    :root {
        --fg-0: hsla(0,0%,91.38%,1);
        --fg-1: hsla(0,0%,90.2%,1);
        --fg-2: hsla(0,0%,74.12%,1);
        --fg-3: hsla(0,0%,65.89%,1);
        --fg-4: hsla(0,0%,57.65%,1);
        --fg-5: hsla(0,0%,49.81%,1);
        --bg-0: hsla(0,0%,14.51%,1);
        --bg-1: hsla(0,0%,16.08%,1);
        --bg-2: hsla(0,0%,19.61%,1);
        --bg-3: hsla(0,0%,22.36%,1);
        --bg-4: hsla(0,0%,26.28%,1);
        --bg-5: hsla(0,0%,30.59%,1);
    }
}
